numpy
opencv-python-headless
Pillow
deepface
torch
transformers
moviepy
requests
gunicorn
Flask
Flask-Login
Flask-SocketIO
Flask-SQLAlchemy
simple-websocket
flask-cors
python-dotenv
psycopg2-binary
tf_keras
